<div class="py-3">
  <h1 mat-dialog-title class="!text-3xl !mb-5">{{ 'delete' | translate }}</h1>
<mat-dialog-content>
  <p>Are you sure you want to delete spend {{ data.title }} ?</p>
</mat-dialog-content>
<mat-dialog-actions class="!w-100 !justify-between !px-6">
  <button mat-stroked-button color="primary" mat-dialog-close>{{ 'cancel' | translate }}</button>
  <button mat-raised-button cdkFocusInitial (click)="onSubmit()" color="warn">{{ 'confirm' | translate }}</button>
</mat-dialog-actions>
</div>