<div class="!mb-5 lg:!mb-12 flex justify-between items-center">
	<h1 class="mat-headline-5 !text-3xl lg:!text-4xl !mb-0" *ngIf="currentBudget$ | async as currentBudget; else noBudgetTitle">{{ currentBudget.title | translate }}</h1>
	<ng-template #noBudgetTitle>
		<h1 class="mat-headline-5 !text-3xl lg:!text-4xl !mb-0">{{ 'spend' | translate }}</h1>	
	</ng-template>

	<mat-form-field appearance="outline" color="accent">
		<mat-label>{{ 'current_budget' | translate }}</mat-label>
		<mat-select (selectionChange)="changeBudget($event.value)" [value]="currentBudgetId$ | async">
			<mat-option *ngFor="let budget of budgets$ | async; trackBy:identify" [value]="budget.id">{{ budget.title }}</mat-option>
		</mat-select>
	</mat-form-field>
</div>

<div class="px-10 pb-10 wrapper">
	<div *ngIf="currentBudget$ | async as currentBudget; else noBudget">
		
		<div class="mb-8 px-8 py-4 flex heading-wrapper items-center justify-normal rounded mat-elevation-z8">
			
			<div class="heading-column py-2 px-4 w-1/4 flex items-center justify-center">
				<mat-icon (click)="changeDateByBtn('prev')" class="arrow-icon cursor-pointer">keyboard_arrow_left</mat-icon>
				<span class="mx-3 !mb-0 text-xl w-24 text-center" *ngIf="dayOfWeek$ | async as dayOfWeek">
					{{ dayOfWeek | translate }}
				</span>
				<mat-icon (click)="changeDateByBtn('next')" class="arrow-icon cursor-pointer">keyboard_arrow_right</mat-icon>
			</div>

			<form [formGroup]="spendForm" class="heading-column py-2 px-4 w-1/4 flex items-center justify-center">
				
				<mat-form-field appearance="outline" class="w-4/5" color="accent">					
					<input matInput [matDatepicker]="picker" formControlName="currentDate" [min]="minCalendarDate" [max]="maxCalendarDate">
					<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
					<mat-error>
						{{ formHelpersService.getError(getFormControl('dateEnd')).key | translate:formHelpersService.getError(getFormControl('dateEnd')) }}
					</mat-error>
				</mat-form-field>
			
			</form>
			
			<div class="heading-column py-2 px-4 w-1/4 flex items-center justify-center">
				<span class="mr-3">{{ 'todays_budget' | translate }}:</span>
				<span class="font-semibold w-24">{{ todayDaily$ | async }} {{ currentBudget.currency }}</span>
			</div>
		
			<div class="heading-column py-2 px-4 w-1/4 flex items-center justify-center">
				<span class="mr-3">{{ 'todays_left' | translate }}:</span>
				<span class="font-semibold w-24">{{ todaysLeft$ | async }} {{ currentBudget.currency }}</span>
			</div>

			

		</div>
		<form [formGroup]="spendFormGroup">
			<div class="mat-elevation-z8">
				<mat-table 
				#table
				[dataSource]="spendArray.controls"
				formArrayName="spendArray">
		
				<ng-container matColumnDef="items">
					<mat-header-cell *matHeaderCellDef class="!py-7 !px-9 uppercase"> {{ 'spend' | translate }} </mat-header-cell>
					<mat-cell *matCellDef="let element; let i = index" formGroupName="{{ i }}" class="!py-2 !px-9">
						<mat-form-field class="plain-input w-100" appearance="outline">
							<input matInput formControlName="title" (blur)="onBlurExpenseTitle(i)">
						</mat-form-field>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="category">
					<mat-header-cell *matHeaderCellDef class="!py-7 !px-6 !w-1/6 uppercase"> {{ 'category' | translate }} </mat-header-cell>
					<mat-cell *matCellDef="let element; let i = index" formGroupName="{{ i }}" class="!py-2 !px-6">
						<mat-form-field class="w-100" appearance="outline" color="accent">
							<mat-select 
								formControlName="categoryId" 
								placeholder="Daily"
								(selectionChange)="handleCategoryChange(i)">
								<ng-container *ngIf="currentBudget$ | async as currentBudget">
									<mat-option *ngFor="let category of currentBudget.expenses; trackBy:identify" [value]="category.id">{{ category.title }}</mat-option>
								</ng-container>
							</mat-select>
						</mat-form-field>
						
					</mat-cell>
				</ng-container>
		
				<ng-container matColumnDef="amount">
					<mat-header-cell *matHeaderCellDef class="!py-7 !px-6 !w-1/6 uppercase"> {{ 'amount' | translate }} </mat-header-cell>
					<mat-cell *matCellDef="let element; let i = index" formGroupName="{{ i }}" class="!py-2 !px-6">
						<mat-form-field class="plain-input w-100" appearance="outline">
							<input matInput formControlName="amount" (blur)="onBlurSpendAmount(i)">
						</mat-form-field>
						<input type="hidden" #oldAmountInput [value]="element.amount">
					</mat-cell>
				</ng-container>
		
				<ng-container matColumnDef="balance">
					<mat-header-cell *matHeaderCellDef class="!py-7 !px-6 !w-1/6 uppercase"> {{ 'balance' | translate }} </mat-header-cell>
					<mat-cell *matCellDef="let element; let i = index" formGroupName="{{ i }}" class="!py-2 !px-6">
						<mat-form-field class="plain-input"  appearance="outline">
							<input matInput formControlName="balance" class="w-100 cursor-default" readonly>
						</mat-form-field>
					</mat-cell>
				</ng-container>
		
				<ng-container matColumnDef="action">
					<mat-header-cell *matHeaderCellDef class="!py-7 !px-6 rounded-tr-md uppercase"> {{ 'action' | translate }} </mat-header-cell>
					<mat-cell *matCellDef="let element; let i = index" formGroupName="{{ i }}" class="!py-2 !px-6 justify-center">
						<mat-icon class="cursor-pointer" (click)="openConfirmDeleteDialog(element.value)">delete</mat-icon>
					</mat-cell>
				</ng-container>
		
				
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
	
			<div class="flex justify-end custom-row">
				<div class="add-row py-2 px-6 flex justify-center items-center">
					<mat-icon class="cursor-pointer" (click)="addNewSpend()">add</mat-icon>
				</div>
			</div>
	
			<div class="table-footer rounded-br-md rounded-bl-md h-24 flex items-center font-semibold uppercase text-2xl">
				<div class="px-9">{{ 'today_daily' | translate }}:</div>
				<div class="px-6"></div>
				<div class="px-6">{{ todaysSpend$ | async }} {{ currentBudget.currency }}</div>
				<div class="px-6"></div>
				<div class="px-6"></div>
			</div>
		</div>
	</form>
	</div>

	<ng-template #noBudget>{{ 'no_budget_msg' | translate }}</ng-template>

</div>
