$primary-palette: (
  50: #142018,
  100: #121d16,
  200: #111b15,
  300: #101913,
  400: #0e1712,
  500: #0d1510,
  600: #0c130e,
  700: #0a110d,
  800: #090f0b,
  900: #080d0a,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$accent-palette: (
  50: #5d7f72,
  100: #57776a,
  200: #516e63,
  300: #4a665b,
  400: #445e54,
  500: #3e554c,
  600: #384c44,
  700: #32443d,
  800: #2b3b35,
  900: #25332e,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$warn-palette: (
  50: #e09688,
  100: #db8575,
  200: #d67462,
  300: #d1644f,
  400: #cc533c,
  500: #be4832,  // Your main color
  600: #ab412d,
  700: #983a28,
  800: #853223,
  900: #722b1e,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$foreground: (
  base:              #333333,
  divider:           rgba(black, 0.12),
  dividers:          rgba(black, 0.12),
  disabled:          rgba(black, 0.38),
  disabled-button:   rgba(black, 0.26),
  disabled-text:     rgba(black, 0.38),
  elevation:         #3F4541,
  hint-text:         #878C96,
  secondary-text:    rgba(black, 0.54),
  icon:              map-get($accent-palette, 500),
  icons:             map-get($accent-palette, 500),
  text:              #333333,
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

$background: (
  status-bar:                 map-get($primary-palette, 500),
  app-bar:                    map-get($primary-palette, 500),
  background:                 rgba(white, 1),
  hover:                      map-get($accent-palette, 300),
  card:                       #F9FBFC,
  dialog:                     rgba(white, 1),
  raised-button:              map-get($accent-palette, 500),
  selected-button:            map-get($accent-palette, 200),
  selected-disabled-button:   map-get($accent-palette, 300),
  disabled-button:            map-get($accent-palette, 200),
  focused-button:             map-get($accent-palette, 400),
  disabled-button-toggle:     map-get($primary-palette, 200),
  unselected-chip:            map-get($primary-palette, 100),
  disabled-list-option:       map-get($primary-palette, 200),
  tooltip:                    map-get($accent-palette, 700),
);
