@use 'sass:map';
@use '@angular/material' as mat;
@use '../styles.scss' as theme;

@function get-color($palette, $color) {
  $theme: theme.global-theme();
//   @debug "Entire Theme: #{$theme}";


  $color-config: mat.get-color-config($theme);
//   @debug "Color Config: #{$color-config}"; // Debugging $color-config

  $palette-map: map.get($color-config, $palette);
//   @debug "Palette Map for #{$palette}: #{$palette-map}";

  // Check if it's a primary/accent/warn palette or a foreground/background palette
  @if $palette == 'primary' or $palette == 'accent' or $palette == 'warn' {
    // It's a typical Material color palette
    @return mat.get-color-from-palette($palette-map, $color);
  } @else {
    // It's a foreground/background palette
    @if map-has-key($palette-map, $color) {
      @return map-get($palette-map, $color);
    } @else {
      @warn "Color `#{$color}` not found in `#{$palette}` palette.";
      @return null;
    }
  }
}
