@use 'styles/utils' as utils;
@use 'styles/theme' as theme;

@import 'styles/overrides';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


// fix tailwind and material border problem
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right-style: hidden;
}
.mat-mdc-input-element {
  box-shadow: none !important;
}

.error-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: utils.get-color(theme.global-theme(), warn, 500);
}