<div class="py-3">
  <h1 mat-dialog-title class="!text-3xl !mb-5">{{ 'revise' | translate }}</h1>
  <mat-dialog-content>
		<p>{{ 'revise_msg' | translate }}</p>	
    <form [formGroup]="reviseForm" class="pt-2 flex items-start">
      <mat-form-field appearance="outline" class="mr-3 w-full" color="accent">
				<mat-label>{{ 'amount' | translate }}</mat-label>
				<input matInput type="number" formControlName="amount" #amountInput>
				<mat-error>
					{{ formHelpersService.getError(getFormControl('amount')).key | translate:formHelpersService.getError(getFormControl('amount')) }}
				</mat-error>
			</mat-form-field>
			<button mat-icon-button (click)="compareBalances(amountInput.value)">
				<mat-icon>compare_arrows</mat-icon>	
			</button>
    </form>
		<div *ngIf="msg" class="mt-3">
			<p class="text-black">{{ msg | translate:{ value: this.budgetDiff } }}</p>
		</div>
  </mat-dialog-content>
	<mat-dialog-actions class="!w-100 !justify-between !px-6">
		<button mat-stroked-button color="primary" mat-dialog-close>{{ 'cancel' | translate }}</button>
		<button mat-raised-button [disabled]="isDisabled" (click)="fix()" color="accent">{{ 'fix' | translate }}</button>
	</mat-dialog-actions>
</div>